
html {
    background-color: rgb(178, 178, 180);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

body {
    font-family: Oswald;
    margin-top: 0px;
    background-color: white;
    width: 1200px
}

h1{
    font-size: 35px;
}

h2{
    font-size: 25px;
    margin: 0px;
}

header {
    padding: 20px;
    color: white;
    background-color: #004175;
    border-bottom: 5px solid #89DEEF;
    display: block;
}

main{
    padding: 20px;
}

.dog-row {
    display: flex;
    justify-content: left;
    flex-direction: row;
}

.dog-title{
    font-size: 20px;
    margin: 0px;
}

.dog-box {
    padding: 5px;
    max-width: 350px ;
}    

.dog-img{
    max-width: 350px
}

.dog-tag{
    display: inline-block;
    background-color:#89DEEF;
    border-radius: 10px;
    border: 1px solid black;
    margin: 2px;
    padding: 5px;
}

.footer-row{
    display: flex;
    height: 250px
}

.donate {
    background-image: url(./starter_files/images/donate.jpg);
    background-size:cover;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
}

.volunteer {
    background-image: url(./starter_files/images/volunteer.jpg);
    background-size:cover;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
}
.location {
    background-image: url(./starter_files/images/location.png);
    background-size:contain;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
}

.footer-title{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgba(135, 139, 240, 0.5);
    height: 100%;
    width: 100%;
}

